button {
    width: 80px;
    height: 80px;    
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    /* font-weight: bold; */
    background-color: lightgray;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgray;
    text-align: center;
    text-justify: center;
}